.centered-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    width: 100rem;
    height: 100%;
    margin-left: 18rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

.card-experiences {
    width: 100%;
    height: 100%;
}
