.centered-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
    height: 100%;
}

.card-register {
    width: 100%;
    height: 105%;
}
